        <%- include("./layouts/headHTML.ejs") %>
        <%- include("./layouts/header.ejs")%>
        <!--	Body	-->
        <!--	Body	-->
        <div id="body">
          <div class="container">
            <%- include("./layouts/menu.ejs") %>
            <div class="row">
              <div id="main" class="col-lg-8 col-md-12 col-sm-12">

                <!--	Cart	-->
                <div id="my-cart">
                  <div class="row">
                    <div class="cart-nav-item col-lg-5 col-md-7 col-sm-12">Thông tin sản phẩm</div>
                    <div class="cart-nav-item col-lg-3 col-md-2 col-sm-12">Tùy chọn</div>
                    <div class="cart-nav-item col-lg-2 col-md-3 col-sm-12">Giá</div>
                    <div class="cart-nav-item col-lg-2 col-md-3 col-sm-12">Giá</div>
                  </div>

                  <form method="post" action="/update-cart">
                    <% i = 0 %>
                    <% cart.forEach( product => { %>
                    <div class="cart-item row">
                      <div class="cart-thumb col-lg-5 col-md-7 col-sm-12">
                        <img src="/static/images/<%= product.img %>">
                        <h4><%= product.name %></h4>
                      </div>
                      <div class="cart-quantity col-lg-2 col-md-2 col-sm-12">
                        <input name="products[<%= product.id %>][qty]" type="number" id="quantity" class="form-control form-blue quantity" value="<%= product.qty %>" min="1">
                      </div>
                      <div class="cart-price col-lg-2 col-md-3 col-sm-12"><b><%- include("./Components/formatted-price.ejs", {price: product.price}) %></b><a href="/delete-cart-item-<%= product.id %>">Xóa</a></div>
                      <div class="cart-price col-lg-2 col-md-3 col-sm-12"><b><%- include("./Components/formatted-price.ejs", {price: product.price * product.qty}) %></b></div>
                    </div>
                    <% i++ %>
                    <% }) %>

                    <div class="row">
                      <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
                        <button id="update-cart" class="btn btn-success" type="submit" name="update-cart">Cập nhật giỏ hàng</button>
                      </div>
                      <div class="cart-total col-lg-2 col-md-2 col-sm-12"><b>Tổng cộng: 0</b></div>
                      <div class="cart-price col-lg-3 col-md-3 col-sm-12"><b><%- include("./Components/formatted-price.ejs", {price: cart.reduce( (total,item) => (total + (item.price * item.qty)) ,0)}) %></b></div>
                    </div>
                  </form>

                </div>
                <!--	End Cart	-->

                <!--	Customer Info	-->
                <div id="customer">
                  <form method="post" action="/order">
                    <div class="row">

                      <div id="customer-name" class="col-lg-4 col-md-4 col-sm-12">
                        <input placeholder="Họ và tên (bắt buộc)" type="text" name="name" class="form-control" value="Đinh Nguyễn Sơn Tùng" required>
                      </div>
                      <div id="customer-phone" class="col-lg-4 col-md-4 col-sm-12">
                        <input placeholder="Số điện thoại (bắt buộc)" type="text" name="phone" class="form-control" value="0842669858">
                      </div>
                      <div id="customer-mail" class="col-lg-4 col-md-4 col-sm-12">
                        <input placeholder="Email (bắt buộc)" type="text" name="mail" class="form-control" value="mantht01288448987@gmail.com">
                      </div>
                      <div id="customer-add" class="col-lg-12 col-md-12 col-sm-12">
                        <input placeholder="Địa chỉ nhà riêng hoặc cơ quan (bắt buộc)" type="text" name="add" class="form-control">
                      </div>

                    </div>

                    <div class="row">
                      <div class="by-now col-lg-6 col-md-6 col-sm-12">
                        <button type="submit" class="btn btn-danger">
                          <b>Mua ngay</b>
                          <span>Giao hàng tận nơi siêu tốc</span>
                          </a>
                      </div>
                      <div class="by-now col-lg-6 col-md-6 col-sm-12">
                        <button type="submit" class="btn btn-primary">
                          <b>Trả góp Online</b>
                          <span>Vui lòng call (+84) 0988 550 553</span>
                          </a>
                      </div>
                    </div>

                  </form>

                </div>
                <!--	End Customer Info	-->

              </div>

              <div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
                <div id="banner">
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-1.png"></a>
                  </div>
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-2.png"></a>
                  </div>
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-3.png"></a>
                  </div>
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-4.png"></a>
                  </div>
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-5.png"></a>
                  </div>
                  <div class="banner-item">
                    <a href="#"><img class="img-fluid" src="/static/site/images/banner-6.png"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--	End Body	-->

        <!--	End Body	-->
        <%- include("./layouts/footer.ejs") %>