        <%- include("./layouts/headHTML.ejs") %>
        <%- include("./layouts/header.ejs")%>
        <!--	Body	-->
        <div id="body">
          <div class="container">
            <%- include("./layouts/menu.ejs", {categories: category_list, category_name}) %>
            <div class="row">
              <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <%- include("./layouts/slider.ejs") %>

                <!--	Feature Product	-->
                <div class="products">
                  <h3>Sản phẩm nổi bật</h3>
                  <div class="product-list card-deck">


                    <% featured_product_list.forEach(product => { %>
                    <%- include("./Components/product-item.ejs", {
                    thumbnail: product.thumbnail,
                    name: product.name,
                    price: product.price,
                    id: product._id
                    }) %>
                    <% }) %>

                  </div>

                </div>
                <!--	End Feature Product	-->


                <!--	Latest Product	-->
                <div class="products">
                  <h3>Sản phẩm mới</h3>
                  <div class="product-list card-deck">

                    <% new_product_list.forEach(product => { %>
                    <%- include("./Components/product-item.ejs", {
                            thumbnail: product.thumbnail,
                            name: product.name,
                            price: product.price,
                            id: product._id
                        }) %>
                    <% }) %>


                  </div>
                </div>
                <!--	End Latest Product	-->

              </div>

              <%- include("./layouts/sidebar.ejs") %>
            </div>
          </div>
        </div>
        <!--	End Body	-->
        <%- include("./layouts/footer.ejs") %>