<%- include("./layouts/headHTML.ejs") %>
<%- include("./layouts/header.ejs")%>
<!--	Body	-->
<div id="body">
  <div class="container">
    <%- include("./layouts/menu.ejs", {categories: category_list, category_name}) %>
    <div class="row">
      <div id="main" class="col-lg-8 col-md-12 col-sm-12">
        <%- include("./layouts/slider") %>
        <h1><%= category_name %></h1>
        <!--	List Product	-->
        <div id="product">
          <div id="product-head" class="row">
            <div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
              <img src="/static/images/<%= product_item.thumbnail %>">
            </div>
            <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
              <h1><%= product_item.name %></h1>
              <ul>
                <li><span>Bảo hành:</span> <%= product_item.warranty %> </li>
                <li><span>Đi kèm:</span> <%= product_item.accessories %></li>
                <li><span>Tình trạng:</span> <%= product_item.status %></li>
                <li><span>Khuyến Mại:</span> <%= product_item.promotion %></li>
                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                <li id="price-number"><%- include('./Components/formatted-price.ejs', {price: product_item.price}) %></li>

                <% if (product_item.is_stock == true) { %>
                <li id="status"> Còn hàng </li>
                <% } else { %>
                <li id="status" style="color: red;"> Đã hết hàng </li>
                <% } %>

              </ul>
              <% if (product_item.is_stock == true) { %>
              <div id="add-cart"><a href="#">Mua ngay</a></div>
              <% } else { %>
              <div id="out-of-stock"><a href="#">Liên hệ kho</a></div>
              <% } %>

            </div>
          </div>
          <div id="product-body" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h3>Thông tin chung của <%= product_item.name %></h3>

              <% product_item.description.split("\n").forEach( paragraph => { %>
              <p>
                <%= paragraph %>
              </p>
              <% }) %>

            </div>
          </div>

          <!--	Comment	-->
          <div id="comment" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h3>Bình luận sản phẩm</h3>
              <form method="post">
                <div class="form-group">
                  <label>Tên:</label>
                  <input name="comm_name" required type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email:</label>
                  <input name="comm_mail" required type="email" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label>Nội dung:</label>
                  <textarea name="comm_details" required rows="8" class="form-control"></textarea>
                </div>
                <button type="submit" name="sbm" class="btn btn-primary">Gửi</button>
              </form>
            </div>
          </div>
          <!--	End Comment	-->

          <!--	Comments List	-->
          <div id="comments-list" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="comment-item">
                <ul>
                  <li><b>Nguyễn Văn A</b></li>
                  <li>2018-01-03 20:40:10</li>
                  <li>
                    <p>Kiểu dáng đẹp, cảm ứng rất nhạy, cầm trên tay cảm giác không bị cấn. Chụp ảnh tương đối nét, chơi game rất phê. Nếu giá mềm một chút thì sẽ bán khá chạy. Một sản phẩm tốt mà mọi người có thể cân nhắc.</p>
                  </li>
                </ul>
              </div>
              <div class="comment-item">
                <ul>
                  <li><b>Nguyễn Văn A</b></li>
                  <li>2018-01-03 20:40:10</li>
                  <li>
                    <p>Kiểu dáng đẹp, cảm ứng rất nhạy, cầm trên tay cảm giác không bị cấn. Chụp ảnh tương đối nét, chơi game rất phê. Nếu giá mềm một chút thì sẽ bán khá chạy. Một sản phẩm tốt mà mọi người có thể cân nhắc.</p>
                  </li>
                </ul>
              </div>
              <div class="comment-item">
                <ul>
                  <li><b>Nguyễn Văn A</b></li>
                  <li>2018-01-03 20:40:10</li>
                  <li>
                    <p>Kiểu dáng đẹp, cảm ứng rất nhạy, cầm trên tay cảm giác không bị cấn. Chụp ảnh tương đối nét, chơi game rất phê. Nếu giá mềm một chút thì sẽ bán khá chạy. Một sản phẩm tốt mà mọi người có thể cân nhắc.</p>
                  </li>
                </ul>
              </div>
              <div class="comment-item">
                <ul>
                  <li><b>Nguyễn Văn A</b></li>
                  <li>2018-01-03 20:40:10</li>
                  <li>
                    <p>Kiểu dáng đẹp, cảm ứng rất nhạy, cầm trên tay cảm giác không bị cấn. Chụp ảnh tương đối nét, chơi game rất phê. Nếu giá mềm một chút thì sẽ bán khá chạy. Một sản phẩm tốt mà mọi người có thể cân nhắc.</p>
                  </li>
                </ul>
              </div>
              <div class="comment-item">
                <ul>
                  <li><b>Nguyễn Văn A</b></li>
                  <li>2018-01-03 20:40:10</li>
                  <li>
                    <p>Kiểu dáng đẹp, cảm ứng rất nhạy, cầm trên tay cảm giác không bị cấn. Chụp ảnh tương đối nét, chơi game rất phê. Nếu giá mềm một chút thì sẽ bán khá chạy. Một sản phẩm tốt mà mọi người có thể cân nhắc.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--	End Comments List	-->
        </div>
        <!--	End Product	-->
        <div id="pagination">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
          </ul>
        </div>
      </div>

      <%- include("./layouts/sidebar.ejs") %>
    </div>
  </div>
</div>
<!--	End Body	-->

<%- include("./layouts/footer.ejs") %>