        <%- include("./layouts/headHTML.ejs") %>
        <%- include("./layouts/header.ejs")%>

        <!--	Body	-->
        <div id="body">
          <div class="container">
            <%- include("./layouts/menu.ejs") %>
            <div class="row">
              <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <%- include("./layouts/slider.ejs") %>

                <!--	List Product	-->
                <div class="products">
                  <div id="search-result">Kết quả tìm kiếm với từ khóa <span><%= keyword %></span></div>



                  <div class="product-list card-deck">
                    <% product_list.forEach(product => { %>
                    <%- include("./Components/product-item.ejs", {
                        thumbnail: product.thumbnail,
                        name: product.name,
                        price: product.price,
                        id: product._id
                        }) %>
                    <% }) %>
                  </div>

                </div>
                <!--	End List Product	-->

                <div id="pagination">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                  </ul>
                </div>

              </div>

              <%- include("./layouts/sidebar.ejs") %>
            </div>
          </div>
        </div>
        <!--	End Body	-->
        <%- include("./layouts/footer.ejs") %>