<%- include("../layout/head.ejs", {title: "Product Index"}) %> <%-
include("../layout/header.ejs") %> <%- include("../layout/sidebar.ejs") %>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#"
					><svg class="glyph stroked home">
						<use xlink:href="#stroked-home"></use></svg
				></a>
			</li>
			<li class="active">Danh sách sản phẩm - Trang <%=currentPage%></li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Danh sách sản phẩm - Trang <%=currentPage%></h1>
		</div>
	</div>

	<div class="panel-footer">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							
							
							<!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
							
							<!-- Previous Page -->
							
							<% if(currentPage > 1){ %>
							
							<li class="page-item">
								<a class="page-link" href="/admin/products/index/?page=<%=currentPage-1%>">&laquo;</a>
							</li>
							<%} else {%>
								<li class="page-item"><a class="page-item" href="#" style="pointer-events: none; color: black; background-color: rgb(209, 209, 209)">&laquo;</a></li>
							<%}%>

							<% for (let page of pages) {%>
								<% if (page != "...") { %>
									<li class="page-item <%= currentPage === page ? 'active' : '' %>"><a class="page-link" href="/admin/products/index/?page=<%=page%>"><%= page %></a></li>
								<%} else {%>
									<li class="page-item <%= currentPage === page ? 'active' : '' %>"><span class="page-link" href="/admin/products/index/?page=<%=page%>"><%= page %></span></li>
								<%}%>
							<%}%>


							<!-- Next Page -->
							<% if (currentPage < totalPageNum ) { %>
							<li class="page-item">
								<a class="page-link" href="/admin/products/index/?page=<%=currentPage+1%>">&raquo;</a>
							</li>
							<% } else { %>
								<li class="page-item"><a class="page-item" href="#" style="pointer-events: none; color: black; background-color: rgb(209, 209, 209)">&raquo;</a></li>
							<%} %>
						</ul>
					</nav>
				</div>
	<!--/.row-->
	<div id="toolbar" class="btn-group">
		<a href="product-add.html" class="btn btn-success">
			<i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
		</a>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table data-toolbar="#toolbar" data-toggle="table">
						<thead>
							<tr>
								<th data-field="id" data-sortable="true">ID</th>
								<th data-field="name" data-sortable="true">Tên sản phẩm</th>
								<th data-field="price" data-sortable="true">Giá</th>
								<th>Ảnh sản phẩm</th>
								<th>Trạng thái</th>
								<th>Danh mục</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
							<% for(let product of products){ %>
							<tr>
								<td style=""> <%= product.sequentialId %> </td>
								<td style=""> <%= product.name %></td>
								<td style=""> <%= Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price); %></td>
								<td style="text-align: center">
									<img width="130" height="180" src="img/<%= product.thumbnail %>" />
								</td>
								<td><span class="label label-<%= product.is_stock ? "success" : "warning" %>"> <%= product.is_stock ? "Còn hàng" : "Hết hàng"  %></span></td>
								<td> <%= product.cat_id.title %> </td>
								<td class="form-group">
									<a href="product-edit.html" class="btn btn-primary"
										><i class="glyphicon glyphicon-pencil"></i
									></a>
									<a href="product-edit.html" class="btn btn-danger"
										><i class="glyphicon glyphicon-remove"></i
									></a>
								</td>
							</tr>
							<% }%>

							<!-- <% products.map( (product, index) => { %>
								<tr>
								<td style=""> <%= index + 1 %> </td>
								<td style=""> <%= product.name %></td>
								<td style=""> <%= Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price); %></td>
								<td style="text-align: center">
									<img width="130" height="180" src="img/download.jpeg" />
								</td>
								<td><span class="label label-<%= product.is_stock ? "success" : "warning" %>"> <%= product.is_stock ? "Còn hàng" : "Hết hàng"  %></span></td>
								<td> <%= product.cat_id.title %> </td>
								<td class="form-group">
									<a href="product-edit.html" class="btn btn-primary"
										><i class="glyphicon glyphicon-pencil"></i
									></a>
									<a href="product-edit.html" class="btn btn-danger"
										><i class="glyphicon glyphicon-remove"></i
									></a>
								</td>
							</tr>
							<%} ) %> -->
							
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>

<%- include("../layout/footer.ejs") %>
