<%- include("../../layout/HTMLhead.ejs", {currentPage: ""}) %>

<body>
  <!-- Sidebar -->
  <%- include("../../layout/sidebar.ejs", {currentPage: "products"}) %>
  <!-- End of Sidebar -->

  <!-- Main Content -->
  <div class="content">
    <!--Nav bar-->

    <%- include("../../layout/navbar.ejs", {userName: userCredential})%>

    <!-- End of Nav Bar-->

    <main>

      <!-- Header -->
      <%- include("../../layout/header.ejs", { title: "Thêm mới sản phẩm", breadcrumb: ["admin", "all_products/create_product"]}) %>

    </main>
    <!-- End of Header -->
    <!-- Page Content -->
    <div class="row">
      <div class="add-product">
          <div class="panel panel-default">
            <div class="panel_two_column">
              <form role="form" method="post" enctype="multipart/form-data">
                
                <div class="panel-body">
                  <!-- Add product -->
                  <div class="form-container">
                    <div class="form-header">
                      <h2>Thông tin cơ bản</h2>
                    </div>
                    <div class="column left">
                      
                        <div class="form-group">
                          <label>Tên sản phẩm</label>
                          <input required name="name" class="form-control" placeholder="" value="iPhone 15 Pro Max">
                        </div>

                        <div class="form-group">
                          <label>Giá sản phẩm</label>
                          <input required name="price" type="number" min="0" class="form-control" value="32000000">
                        </div>
                        <div class="form-group">
                          <label>Bảo hành</label>
                          <input  name="warranty" value="12 tháng" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Phụ kiện</label>
                          <input  name="accessories" type="text" class="form-control" value="Hộp, sách, sạc, cáp, tai nghe">
                        </div>
                        <div class="form-group">
                          <label>Khuyến mãi</label>
                          <input  name="promotion" type="text" class="form-control" value="Tặng Dán Màn Hình 4D">
                        </div>
                        <div class="form-group">
                          <label>Tình trạng</label>
                          <input  name="status" type="text" class="form-control" value="Mới 100%">
                        </div>

                    </div>



                  </div>
                </div>

                <div class="panel-body">
                  <div class="form-container">
                    <div class="form-header">
                      <h2>Thông tin nâng cao</h2>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Ảnh sản phẩm</label>

                    <input  name="thumbnail" type="file">
                    <br>
                  </div>
                  <div class="form-group">
                    <label>Danh mục</label>
                    <select name="cat_id" class="form-control">
                      <option value=1>iPhone</option>
                      <option value=2>Samsung</option>
                      <option value=3>Nokia</option>
                      <option value=4>LG</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Trạng thái</label>
                    <select name="is_stock" class="form-control">
                      <option value=1 selected>Còn hàng</option>
                      <option value=0>Hết hàng</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Sản phẩm nổi bật</label>
                    <div class="">
                      
                        <input name="featured" type="checkbox" value="No">
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Mô tả sản phẩm</label>
                    <textarea  name="description" class="form-control" rows="3"></textarea>
                  </div>


                  <div class="btn-layout">
                    <button name="sbm" type="submit" class="btn btn-export">Thêm mới</button>
                    <button type="reset" class="btn">Clear</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      <!-- End of page content-->
    </div>
    <%- include("../../layout/HTMLfoot.ejs") %>
    