        <%- include("../../layout/HTMLhead.ejs", {currentPage: ""}) %>

        <body>
          <!-- Sidebar -->
          <%- include("../../layout/sidebar.ejs", {currentPage: "products"}) %>
          <!-- End of Sidebar -->

          <!-- Main Content -->
          <div class="content">
            <!--Nav bar-->

            <%- include("../../layout/navbar.ejs", {userName: userCredential})%>

            <!-- End of Nav Bar-->

            <main>
              <!-- Header -->
              <% if (currentPage == 1) { %>
              <%- include("../../layout/header.ejs", { title: "Quản lý sản phẩm", breadcrumb: ["admin", "all_products"]}) %>
              <% } else { %>

              <%- include("../../layout/header.ejs", { title: `Quản lý sản phẩm - Trang ${currentPage}`, breadcrumb: ["admin", `all_products_page_${currentPage}`] }) %>

              <%}%>
    </main>
    <!-- End of Header -->

    

    <!-- Page Content -->
    <div class="row">
      <div class="col-lg-12">
        
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="buttons-container">
              <a href="/admin/products/create">
                <button class="btn btn-add">
                  <i class='bx bxs-add-to-queue'></i>Thêm sản phẩm
                </button>
              </a>
              <button class="btn btn-export"><i class='bx bxs-select-multiple' ></i> Chọn tất cả</button>
            </div>

            <div id="deleteDialog" class="dialog-background">
              <div class="dialog-content">
                  <h2>Bạn có chắc chắn muốn xóa?</h1>
                  <p><span id="productName" style="font-weight: bolder; color: red;">the product</span> | <span id="productId"></span> sẽ bị đưa ra khỏi Database</p>
                  <br>
                  <p>Lưu ý! Hành động này không thể đảo ngược</p>
                  <!-- The buttons for confirming or cancelling the deletion -->
                  <div class="flex" style="margin-top: 15px; ">
                    <button class="btn btn-delete" onclick="confirmDeletion()">Chấp nhận</button>
                    <button class="btn" style="color: black;" onclick="closeDialog()">Hủy bỏ</button>
                  </div>
              </div>
          </div>
          
            <table data-toolbar="#toolbar" data-toggle="table" class="styled-table">
              <thead>
                <tr class="active-row">
                  <th data-field="id" data-sortable="true">ID</th>
                  <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                  <th data-field="price" data-sortable="true">Giá</th>
                  <th>Ảnh sản phẩm</th>
                  <th>Trạng thái</th>
                  <th>Danh mục</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>


                <% for (let product of productData) { %>
              <%- include("./product_row.ejs", { data: product }) %>
              <% } %>

              </tbody>
              </table>

              <div class="pagination">
                <button class="button" id="startBtn" onclick="location.href='?page=1'" <% if (currentPage == 1) { %> disabled <% } %>>
                  <i class="bx bx-chevrons-left"></i>
                </button>
                <button class="button prevNext" id="prev" onclick="location.href='?page=<%= currentPage - 1%>'" <% if (currentPage <= 1) { %> disabled <% } %>>
                  <i class="bx bx-chevron-left"></i>
                </button>
                <div class="links">

                  <% pageList.forEach(element => { %>
                  <a href="?page=<%= element %>" class="link <%= currentPage == element ? "active" : '' %>"><%= element %></a>
                  <% }) %>

                  <div class="pop-up" id="pop-up">
                    Press <span>"Enter"</span> to go!
                  </div>
                  <input type="number" class="page-input" placeholder=".../<%= totalPageNum %>" id="pageInput">

                </div>


                <button class="button prevNext" id="next" onclick="location.href='?page=<%= currentPage + 1 %>'" <% if (currentPage == totalPageNum) { %> disabled <% } %>>
                  <i class="bx bx-chevron-right"></i>
                </button>
                <button class="button" id="endBtn" onclick="location.href='?page=<%= totalPageNum %>'" <% if (currentPage == totalPageNum) { %> disabled <% } %>>
                  <i class="bx bx-chevrons-right"></i>
                </button>
              </div>


          </div>
          </div>
          </div>
          <!-- End of page content-->
          </div>
          <%- include("../../layout/HTMLfoot.ejs") %>
          <!-- <script src="js/dashboard.js"></script>
</body>

</html> -->