<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/static/new_admin/css/dashboard.css" />

  <title>Main Dashboard</title>
</head>

<body>
  <!-- Sidebar -->
  <%- include("../../layout/sidebar.ejs", {currentPage: "products"}) %>
  <!-- End of Sidebar -->

  <!-- Main Content -->
  <div class="content">
    <!--Nav bar-->

    <%- include("../../layout/navbar.ejs", {userName: userCredential})%>

    <!-- End of Nav Bar-->

    <main>
      <!-- Header -->

      <%- include("../../layout/header.ejs", { title: "Quản lý sản phẩm", breadcrumb: ["admin", "all_products"]}) %>
    </main>
    <!-- End of Header -->
    <!-- Page Content -->
    <div class="row">
      <div class="col-lg-12">
        <a href="#" class="add-btn">
          <!-- <i class="bx bx-cloud-download"></i> -->
          <i class='bx bx-plus-medical'></i>
          <span>Thêm sản phẩm mới</span>
        </a>
        <div class="panel panel-default">
          <div class="panel-body">


            <table data-toolbar="#toolbar" data-toggle="table" class="styled-table">
              <thead>
                <tr class="active-row">
                  <th data-field="id" data-sortable="true">ID</th>
                  <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                  <th data-field="price" data-sortable="true">Giá</th>
                  <th>Ảnh sản phẩm</th>
                  <th>Trạng thái</th>
                  <th>Danh mục</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>


                <% for (let product of productData) { %>
                <%- include("./product_row.ejs", { data: product }) %>





                <% } %>

              </tbody>
            </table>

            <div class="pagination">
              <button class="button" id="startBtn" onclick="location.href='?page=1'" <% if (currentPage == 1) { %> disabled <% } %>>
                <i class="bx bx-chevrons-left"></i>
              </button>
              <button class="button prevNext" id="prev" onclick="location.href='?page=<%= currentPage - 1%>'" <% if (currentPage <= 1) { %> disabled <% } %>>
                <i class="bx bx-chevron-left"></i>
              </button>
              <div class="links">

                <% pageList.forEach(element => { %>
                <a href="?page=<%= element %>" class="link <%= currentPage == element ? "active" : '' %>"><%= element %></a>
                <% }) %>
                <!-- <p>CurrentPage: <%=currentPage%> </p> -->
                <!-- <a href="?page=1" class="link active">1</a>
									<a href="?page=2" class="link">2</a>
									<a href="?page=3" class="link">3</a>
									<a href="?page=4" class="link">4</a>
									<a href="?page=5" class="link">5</a> -->
              </div>
              <button class="button prevNext" id="next" onclick="location.href='?page=<%= currentPage + 1 %>'" <% if (currentPage == pageList.slice(-1)) { %> disabled <% } %>>
                <i class="bx bx-chevron-right"></i>
              </button>
              <button class="button" id="endBtn" onclick="location.href='?page=<%= pageList.slice(-1) %>'" <% if (currentPage == pageList.slice(-1)) { %> disabled <% } %>>
                <i class="bx bx-chevrons-right"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
      <!-- End of page content-->
    </div>

    <script src="js/dashboard.js"></script>
</body>

</html>